@charset "utf-8";
/* CSS Document */
#review_wrapper
{
margin:0px auto;
height:800px;
width:1023px;
/*border:1px #999999 solid;*/
margin-top:10px;
margin-bottom:10px;
}
#review_panel
{
float:left;
height:150px;
width:987px;
margin-left:18px;
margin-top:20px;
}
#txtHint
{
background-color:#FFFFFF; 
z-index:30;
height:auto;
width:203px;
font-size:12px;
font-family:"Myriad Pro";
position:relative;
color:#000000;
}
