@charset "utf-8";
/* CSS Document */
*
{
margin:0px;
padding:0px;
}
#wrapper
{
margin:0px auto;
height:1300px;
width:1023px;
/*border:1px #999999 solid;*/
margin-top:10px;
margin-bottom:10px;
}
#header
{
float:left;
height:91px;
width:987px;
margin-left:18px;
margin-top:20px;
}
.logo
{
float:left;
height:91px;
width:207px;
background-image:url(../images/logo.jpg);
}
.menu
{
float:left;
width:600px;
height:30px;
padding-top:60px;
}
.register
{
float:left;
width:150px;
height:91px;
padding-left:30px;
}
#black_border
{
float:left;
width:987px;
height:16px;
background-color:#000000;
margin-left:18px;
}
#slide_show
{
float:left;
width:987px;
height:411px;
margin-left:18px;
}
#search_box
{
background-color:#ffffff; 
z-index:30;
height:441px;
width:308px;
font-size:12px;
font-family:"myriad Pro";
position:absolute;
top:147px;
margin-left:18px;
}
.search_text
{
float:left;
width:308px;
height:50px;
padding-top:50px;
padding-left:40px;
font-size:14px;
color:#000000;
font-family:"myriad Pro";
text-transform:uppercase;
font-weight:bold;
}
.search_btn
{
float:left;
width:308px;
height:330px;
font-size:14px;
color:#ffffff;
font-family:"Open Sans";
text-transform:uppercase;
font-weight:bold;
}
#black_border_bottom
{
float:left;
width:987px;
height:55px;
background-color:#000000;
margin-left:18px;
}
#Add_1
{
float:left;
width:965px;
height:83px;
margin-top:10px;
margin-left:27px;
}
#Add_2
{
float:left;
width:268px;
height:150px;
margin-top:10px;
margin-left:27px;
}
#Add_3
{
float:left;
width:399px;
height:150px;
margin-top:10px;
margin-left:15px;
}
#Add_4
{
float:left;
width:268px;
height:150px;
margin-top:10px;
margin-left:15px;
}
#Add_5
{
float:left;
width:268px;
height:150px;
margin-top:10px;
margin-left:27px;
}
#Add_6
{
float:left;
width:399px;
height:150px;
margin-top:10px;
margin-left:15px;
}
#Add_7
{
float:left;
width:268px;
height:150px;
margin-top:10px;
margin-left:15px;
}
#black_bottom_border
{
float:left;
width:987px;
height:8px;
background-color:#000000;
margin-top:59px;
margin-left:18px;
}
#footer
{
float:left;
margin-left:18px;
width:987px;
height:200px;
}
#foot1
{
float:left;
height:150px;
width:150px;
margin-top:10px;
}
#foot2
{
float:left;
height:150px;
width:250px;
margin-top:10px;
}
#f1 a li
{
font-family:Arial, Helvetica, sans-serif;
font-size:10px;
color:#333333;
font-weight:bold;
list-style-type:none;
text-transform:uppercase;
}
#f1 a
{
text-decoration:none;
}
#f1 a:hover
{
text-decoration:underline;
color:#666666;
}
#foot_border
{
float:left;
height:3px;
width:987px;
background-color:#999999;
}
#hrbf_black_bottom_border
{
float:left;
width:987px;
height:8px;
background-color:#000000;
margin-top:20px;
margin-left:18px;
}
#txtHint
{
background-color:#FFFFFF; 
z-index:50;
height:auto;
width:240px;
font-size:12px;
padding-left:10px;
margin-left:20px;
color:#000000;
font-family:"Myriad Pro";
}
